@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

*, *::after, *::before{
  box-sizing: border-box;
}
body, div, h1 {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body{
  background: none;
  min-width: 320px;
}

.hero{
  height: 40vh;
  background-image: url('../img/radish-bowl.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

.header{
  background: linear-gradient(#f1ad24, #ffffff);
  height: 150px;
  width: 100%;
  color: #d03b0b;
}
.header h1{
  font-size: 80px;
  letter-spacing: -1px;
  text-shadow: 2px 2px 9px #fffcf7;
}
.nav {
}
.nav ul {
  padding: 0;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}

.nav li{
  display: inline-block;
  font-size: 15px;
  margin: 0;
  font-family: sans-serif;

  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav li:not(:first-child){
  margin-left: 15px;
}
.nav li a {
  color: #9d8ba5;
}
.nav li a:hover,
.nav li a:active {
  color: #e40f0f;
}
.logo{
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

div.copy{
  background: linear-gradient(#ffffff, #f1ad24);
}

.copy img{
  float: left;
  width: 150px;
}

.copy p{
  margin: 0;
  padding: 15px;
  color: #604561;
  font-family: sans-serif;
}

/*GALLERY*/
.gallery{
  text-align: center;
  background-color: #614663;
  padding-top: 10px;
}
.gallery-item{
  display: inline-block;
  width: 46%;
  margin: auto;
}
.gallery-item img {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #ce7a46;
}

@media screen and (min-width: 460px){
  div.copy{
  }
}
